:root {
  --brand-color: #2196f3;
  --main-color: #000000;
  --second-main-color: #ffffff;
  --secondary-color: #212121;
  --contacts-color-header: #757575;
  --contacts-color-footer: #ffffff99;
  --background-color-main: #2f303a;
  --background-color-second: #ffffff;
  --background-color-third: #f5f4fa;
  --border-block-portfolio-page: #eeeeee;
}

/* Reset Styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}
/* End of Reset Styles */

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px red solid; */
}
.section {
  padding-bottom: 94px;
}

/* Logo Header */
.logo-header {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-header:focus,
.logo-header:hover {
  text-decoration: underline var(--brand-color);
}
.web-header {
  color: var(--brand-color);
}
.studio-header {
  color: var(--main-color);
}
/* End of Logo Header */

/* Header */
.main-header {
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--background-color-second);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.nav-list {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
  margin-right: 331px;
  padding-left: 0px;
}

.header-list a {
  color: var(--secondary-color);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}
.header-list li:not(:last-child) {
  margin-right: 50px;
}

.header-list a:hover,
.header-list a:focus {
  color: var(--brand-color);
}
.header-list .current {
  color: var(--brand-color);
}
.header-contatcs-list {
  display: flex;
}
.header-contatcs-list a {
  color: var(--contacts-color-header);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 0px;
}

.header-contatcs-list a:hover,
.header-contatcs-list a:focus {
  color: var(--brand-color);
}
.header-contatcs-list a:not(:last-child) {
  margin-right: 50px;
}
/* End of Header */

/* Hero Section */
.hero-section {
  background-color: var(--background-color-main);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-section-container {
  width: 696px;
}
.hero-header {
  color: var(--background-color-second);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  color: var(--second-main-color);
  background-color: var(--brand-color);
  cursor: pointer;
  border: 4px solid var(--brand-color);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  border: 4px solid var(--brand-color);
  border-radius: unset;
}

/* Features & Our Work */
.second-background-color {
  background-color: var(--background-color-second);
}
.features {
  display: none;
}
.features-section {
  padding-top: 94px;
}
.features-list {
  display: flex;
  padding-left: 0px;
}
.features-list li {
  width: 270px;
}
.features-list li:not(:last-child) {
  margin-right: 30px;
}
.features-header {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-paragraph {
  color: var(--contacts-color-header);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.our-work {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.our-work-images-list {
  display: flex;
  padding-left: 0px;
}
.our-work-images-list li:not(:last-child) {
  margin-right: 30px;
}
/* End of Features & Our Work */

/* Our Team*/
.our-team-section {
  background-color: var(--background-color-third);
  padding-top: 94px;
}
.cards {
  background-color: var(--background-color-second);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-list {
  display: flex;
  padding-left: 15px;
}
.our-team-list li:not(:last-child) {
  margin-right: 30px;
}
.our-team-header {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.our-team-name-subsection {
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team-list-item-header {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-list-item-paragraph {
  color: var(--contacts-color-header);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 10px;
}
/* End of Team */

/* Logo Footer */
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 15px;
}
.logo-footer:focus,
.logo-footer:hover {
  text-decoration: underline var(--brand-color);
}
.web-footer {
  color: var(--brand-color);
}
.studio-footer {
  color: var(--second-main-color);
}
/* End of Logo Footer */

/* Footer */
.footer {
  background-color: var(--background-color-main);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-list {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.contacts-mail-tel {
  margin-top: 9px;
}
.address {
  color: var(--second-main-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-mail-tel {
  color: var(--contacts-color-footer);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-mail-tel:hover,
.contacts-mail-tel:focus {
  color: var(--brand-color);
}

/* Portfolio Page */
.main-section {
  background-color: var(--background-color-second);
  padding-top: 94px;
}

/* Buttons */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-left: 0px;
}
.filter-list li:not(:last-child) {
  margin-right: 8px;
}
.filter-buttons {
  color: var(--secondary-color);
  background-color: var(--background-color-third);
  cursor: pointer;
  border: 1px solid var(--background-color-third);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}
.filter-buttons:focus,
.filter-buttons:hover {
  color: var(--second-main-color);
  background-color: var(--brand-color);
}
.filter-list .current-button {
  color: var(--second-main-color);
  background-color: var(--brand-color);
}
/* End of Buttons */

/* Blocks */
.block-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
  padding-left: 0px;
}
.block-list > .block {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-right: 30px;
}
.block {
  border: 1px solid var(--border-block-portfolio-page);
  max-width: 370px;
}
.sub-block {
  padding: 20px 24px;
}
.block-header {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.block-paragraph {
  color: var(--contacts-color-header);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
/* End of Blocks */
